<!doctype HTML>

<html>

<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">

    </script>
    <script src="~/js/main.js"></script>



    <title>CalcolatoreCFWeb</title>


</head>

    <body>

        <h1> Calcolatore Web di Codice Fiscale </h1>

        <h3> Clicca sui pulsanti per effettuare le operazioni desiderate </h3>

        <button class="bottoneMenu" divDaAprire="calcolatore">Calcola il tuo Codice Fiscale</button>
        <button class="bottoneMenu" divDaAprire="elenco">Mostra i nominativi persone che hanno calcolato il proprio Codice Fiscale</button>

        <div id="calcolatore" class="sezione">

        </div>

        <div id="elenco" class="sezione">

        </div>




    </body>














</html>